html {
	height: 100%;
}

body {
	font-family: "Lato", Arial, Helvetica, sans-serif;
	background-image: linear-gradient(to bottom right, #af2a63, #fff 100%);
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body a {
	color: #af2a63;
}

body a:hover {
	color: #000000;
}

header {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

@media (min-width: 992px) {
	.page-wrapper {
    margin-top: 100px;
	}
}

.page-wrapper {
	padding-bottom: 100px;
}

.alert.alert-success, .alert.alert-warning, .alert.alert-danger, .alert.alert-info {
	margin-top: 100px;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 2rem;
}

div.content {
	/*margin-top: 100px;*/
	padding: 15px;
	background-color: #fff;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	color: #fff;
	font-size: 1.5rem;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
	color: #af2a63;
	font-size: 1.5rem;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
	color: #fff;
	font-size: 1.5rem;
}

li {
	list-style-type: none;
}

/*
* Forms
*/
label {
	font-weight: bold;
	color: #af2a63;
}

fieldset ul li div.form-group label {
	font-weight: normal;
}

ul.images,
ul.videos {
	padding-inline-start: 0;
}

li.subForm {
	padding-left: 0;
}

/*
* Footer
*/
#footer-text {
	font-size: 1.2rem;
	text-align: center;
	color: #af2a63;
	padding: 20px 0;
	margin-bottom: -10px;
}
