form li * {
    display:inline-block;
    margin:0 10px;
}

form .form-group .custom-file {
    margin-left: 0;
}

ul.images, ul.videos {
    margin-top: -16px;
}

button.remove_item_link {
    margin-left: 20px;
}

button[type=submit] {
    margin-top: 40px;
}

.form-group {
    width: 100%;
}

ul.images .form-group, ul.videos .form-group {
    padding-right: 20px;
}

form ul li a.remove-tag {
    display: block;
    clear: both;
    font-size: 1.5rem;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
}