#signin > p {
  margin-top: 40px;
}

#signin p {
	margin-top: 40px;
}

#signin p ~ p {
  margin-top: 0;
}

ul {
  padding: 0;
}

.alert.alert-danger {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 1rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
}
