<footer class="container-fluid">
    <div class="d-none d-lg-block row bg-light">
        <p id="footer-text">
            © 2021. SNOWTRICKS
        </p>
    </div>
    <div class="d-block d-lg-none">
        <nav class="navbar fixed-bottom navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <i class="fas fa-home"></i>
            </a>
            <a class="navbar-brand" href="{{ path('app_createTrick') }}">
                <i class="fas fa-bookmark"></i>
            </a>
            <a class="navbar-brand" href="#">
                <i class="fas fa-sign-in-alt"></i>
            </a>
        </nav>
    </div>
</footer>