<footer class="container-fluid">
    <div class="d-none d-lg-block row bg-light">
        <p id="footer-text">
            © 2021. SNOWTRICKS
        </p>
    </div>
    <div class="d-block d-lg-none">
        <nav class="navbar fixed-bottom navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('app_homepage') }}">
                <i class="fas fa-home"></i>
            </a>
            <a class="navbar-brand" href="{{ path('app_create_trick') }}">
                <i class="fas fa-bookmark"></i>
            </a>
            {% if app.user %}
                <a class="navbar-brand" href="{{ path('app_logout') }}">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            {% else %}
                <a class="navbar-brand" href="{{ path('app_login') }}">
                    <i class="fas fa-sign-in-alt"></i>
                </a>
            {% endif %}
        </nav>
    </div>
</footer>