{# templates/bundles/TwigBundle/Exception/error500.html.twig #}
{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/user.css') }}">
    {% endblock %}

    {% block title %}SnowTricks - Erreur 500{% endblock %}

    {% block content %}

        <div class="page-wrapper">

            <div class="content col-lg-5 col-md-8 mx-auto my-auto">

                <h1 class="text-center">Erreur de serveur</h1>

                <p>Le serveur a rencontré une erreur interne qui l’a empêché de satisfaire la requête.</p>

            </div>

        </div>

    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/user.js') }}"></script>
    {% endblock %}