<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Renouvellement du mot de passe</title>
</head>
<body>
    Salut,
    <p>Tu as demandé à changer ton mot de passe.</p>
    <p>Clique sur le lien ci-dessous pour accéder à la page de changement de ton mot de passe.</p>
    {# For the link to work, it needs an absolute link. #}
    <p>
        <a href="{{absolute_url(path('app_reset_password', {'id': user.id, 'token': user.token}))}}">Changer le mot de passe</a>
    </p>
</body>
</html>